
<div class="maci-user-address-form">
<form action="{{ path("maci_address_form", {'id': id}) }}" method="post" name="form">

	<div class="form-group">
		{{ form_errors(form) }}
	</div>

	<div class="row">

		<div class="col-xs-12 col-sm-6">

			{{ form_row(form.name) }}

			{{ form_row(form.surname) }}

			{{ form_row(form.telephon) }}

			{{ form_row(form.company) }}

			{{ form_row(form.address) }}

			{{ form_row(form.floor) }}

		</div>

		<div class="col-xs-12 col-sm-6">

			{{ form_row(form.city) }}

			{{ form_row(form.cap) }}

			{{ form_row(form.state) }}

			{{ form_row(form.country) }}

			{{ form_row(form.info) }}

			{{ form_row(form._token) }}

			{% if method %}
			<input name="address[method]" type="hidden" value="{{ method }}" />
			{% endif %}

			{% include "@MaciPage/Form/_optional_fields.html.twig" %}

			<div class="form-group text-right">
				<button class="btn btn-primary" name="address[save]" id="form_send" type="submit">
					{% if method %}
					{{ 'form.continue'|matra('Continue') }}
					{% else %}
					{{ 'form.save'|matra('Save') }}
					{% endif %}
				</button>
			</div>

		</div>

	</div>

</form>
</div>
