
<div class="row">

{% if list|length %}

{% if select is defined and select %}

<h5>{{ 'address.select-or-add'|matla('Select or Add an Address') }}:</h5>

{% endif %}

{% for item in list %}

	{% if item.id is null %}
	{% set id = loop.index0 %}
	{% else %}
	{% set id = item.id %}
	{% endif %}

	<div class="col-sx-6 col-md-4">
	<div class="address-wrapper">

		{% include "@MaciUser/Address/_item.html.twig" with { 'address': item } %}

		{% if actions is defined and actions == 'actions' %}

		<div class="address-actions">

			<a class="btn btn-default" href="{{ path('maci_address_form', {'id': loop.index0}) }}">
				<i class="fas fa-pen"></i>
				{{ 'edit'|matla('Edit') }}
			</a>

			<a class="btn btn-danger" href="{{ path('maci_address_remove', {'id': loop.index0}) }}">
				<i class="fas fa-times"></i>
				{{ 'remove'|matla('Remove') }}
			</a>

		</div>

		{% endif %}

	</div>
	</div>

{% endfor %}

{% endif %}

</div>
