
{% extends "@FOSUser/layout.html.twig" %}


{% block pathBar %}
<nav>
<ol class="breadcrumb">

    <li>
    	<a href="{{ path('fos_user_profile_show') }}">
    		Profile
    	</a>
    </li>

    <li class="active">
    	<span>
    		{{ 'profile.show.delete_account'|matra('Delete Account') }}
    	</span>
    </li>

</ol>
</nav>
{% endblock %}


{% block fos_user_content %}

<div class="container-fluid">

	<h3>{{ 'profile.show.delete_account'|matra('Delete Account') }}</h3>

    <p>
        {{ 'profile.show.delete_account_message'|matra('If you Delete your Account, you will no longer be able to use it for login.') }}
    </p>

    <a class="btn btn-danger" href="{{ path('maci_user_delete_account_confirm') }}">
        {{ 'profile.show.delete_account'|matra('Delete Account') }}
    </a>

</div>

{% endblock %}
