{% extends "@FOSUser/layout.html.twig" %}


{% block mainPathBar %}

<div class="securityFormWrapper container-fluid">
<div class="securityForm col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

	<nav class="breadcrumb-wrapper" aria-label="breadcrumb">
	<ol class="breadcrumb">

		<li class="breadcrumb-item">
			<a href="{{ path('homepage') }}">Home</a>
		</li>

		<li class="breadcrumb-item active">
			{{ 'register'|matla('Register') }}
		</li>

	</ol>
	</nav>

</div>
</div>

{% endblock %}


{% block container %}

{% if registration_enabled %}

<div class="securityFormWrapper container-fluid">
<div class="securityForm col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">

	<h3>{{ 'register'|matla('Register') }}</h3>

	{{ render(url('fos_user_registration_register')) }}

</div>
</div>

{% else %}

<header class="container-fluid page-message-wrapper">
	<h3 class="registration-closed">{{ 'actions.registration.closed'|matra('We\'re sorry, but registrations are closed.') }}</h3>
</header>

{% endif %}

{% endblock %}
