
{% extends "@FOSUser/layout.html.twig" %}


{% block pathBar %}
<nav class="breadcrumb-wrapper" aria-label="breadcrumb">
<ol class="breadcrumb">

    <li class="breadcrumb-item">
    	<a href="{{ path('homepage') }}">Home</a>
    </li>

    <li class="breadcrumb-item active">
    	<a href="{{ path('maci_user_register') }}">{{ 'user.register' | matra('Register') }}</a>
    </li>

</ol>
</nav>
{% endblock %}


{% block container %}

{% if registration_enabled %}

<div class="container-fluid">
<div id="securityForm" class="col-12 col-sm-6 offset-sm-3 col-xl-4 offset-xl-4">

	<h3>{{ 'user.register' | matra('Register') }}</h3>

	{{ render(url('fos_user_registration_register')) }}

</div>
</div>

{% else %}

<header class="container-fluid page-message-wrapper">
	<h3 class="registration-closed">{{ 'actions.registration.closed'|matra('We\'re sorry, but registrations are closed.') }}</h3>
</header>

{% endif %}

{% endblock %}
